html,
body {
  height: 100%;
}

body {
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  padding-left: 40px;
  width: 80%;
  margin-left: 40px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
  width: 10%;
}
.title-mention {
  font-size: 20px;
}
